doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gentelella Alela!
    // Bootstrap
    link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='/nprogress/nprogress.css', rel='stylesheet')
    // Custom Theme Style
    link(href='/gentelella/build/css/custom.min.css', rel='stylesheet')
  body.nav-md
    .container.body
      .main_container
        // BEGIN SIDEBAR MENU
        include ./sidebar
        // END SIDEBAR MENU
        // top navigation
        include ./header
        // /top navigation
        // page content
        .right_col(role='main')
          block content
          // /page content
        // footer content
        footer
          .pull-right
            | Gentelella - Bootstrap Admin Template by
            a(href='https://colorlib.com') Colorlib
          .clearfix
        // /footer content
    // jQuery
    script(src='/jquery/dist/jquery.min.js')
    // Bootstrap
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    // FastClick
    script(src='/fastclick/lib/fastclick.js')
    // NProgress
    script(src='/nprogress/nprogress.js')
    // Custom Theme Scripts
    script(src='/gentelella/build/js/custom.min.js')
