doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gentelella Alela!
    // Bootstrap
    link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    link(href='/nprogress/nprogress.css', rel='stylesheet')
    // Animate.css
    link(href='/animate.css/animate.min.css', rel='stylesheet')
    // Custom Theme Style
    link(href='/gentelella/build/css/custom.min.css', rel='stylesheet')
  body.login
    div
      a#signup.hiddenanchor
      a#signin.hiddenanchor
      .login_wrapper
        .animate.form.login_form
          section.login_content
            form
              h1 Login Form
              div
                input.form-control(type='text', placeholder='Username', required='')
              div
                input.form-control(type='password', placeholder='Password', required='')
              div
                a.btn.btn-default.submit(href='index.html') Log in
                a.reset_pass(href='#') Lost your password?
              .clearfix
              .separator
                p.change_link
                  | New to site?
                  a.to_register(href='#signup')  Create Account
                .clearfix
                br
                div
                  h1
                    i.fa.fa-paw
                    |  Gentelella Alela!
                  p
                    | ©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms
        #register.animate.form.registration_form
          section.login_content
            form
              h1 Create Account
              div
                input.form-control(type='text', placeholder='Username', required='')
              div
                input.form-control(type='email', placeholder='Email', required='')
              div
                input.form-control(type='password', placeholder='Password', required='')
              div
                a.btn.btn-default.submit(href='index.html') Submit
              .clearfix
              .separator
                p.change_link
                  | Already a member ?
                  a.to_register(href='#signin')  Log in
                .clearfix
                br
                div
                  h1
                    i.fa.fa-paw
                    |  Gentelella Alela!
                  p
                    | ©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms
